body {
    background-color: #FFC300;
    /* margin-left: 280px; */
}

.next {
    font-size: 1em;
    background-color: whitesmoke;
    width: 250px;
    margin: 20px 0;
    padding: 10px;
    display: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 10px;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

.answer {
    border: 1px solid #4CAF50;
}

.answer:hover {
    background-color: beige;
    border: 1px solid whitesmoke;
}

.question {
    display: block;
    font-size: 40px;
    margin-bottom: 20px;
}

.container {
    margin-left: 60px;
    margin-right: auto;
    background-color: lightgrey;
    width: 70%;
    height: 500px;
    border-radius: 15px;
    margin-top: 40px;
}

button {
    margin-top: 48px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #ddd;
}

#start {
    margin-top: 90px;
    margin-left: 60px;
}

#welcome {
    margin-top: 130px;
    margin-left: 38px;
    text-align: justify;
}


/* responsive features on small screens  */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 400px) {
    .container {
        background-color: #FFC300;
        margin-right: 160px;
    }
    #welcome {
        margin-right: 140px;
        text-align: justify;
    }
    #start {
        height: 65px;
        width: 100px;
        font-size: 12px;
        margin-left: 12px;
        display: block;
    }
    .question {
        font-size: 30px;
        margin-top: 30px;
    }
    .answer {
        font-size: 20px;
        margin-top: 25px;
    }
    .next {
        font-size: 16px;
        width: 170px;
    }
    .btn {
        margin-top: 5px;
    }
}